/************************ global css  ***************************/
* {
	margin: 0;
	padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style-type: none;
}
img, input, textarea, a {
	border: none;
	outline: none;
	text-decoration: none;
}
.clear {
	clear: both;
}
body {
	margin: 0px;
	padding: 0px;
	background-color:#eee;
}
/************************ header  ***************************/

#wrapper {
	width:1000px;
	margin:0 auto;
}
#header {
	width:1000px;
	margin:0 auto;
	height:120px;
	background-color:#eee;
}
#logo {
	float:left;
	padding:17px 0px 0px 15px;
}
.call_bnr {
	width:180px;
	float:right;
	padding:10px 15px 0px 0px;
}
.call_bnr span {
	font-size:16px;
	font-family: 'LaoUIBold';
	color:#757171;
	line-height:28px;
	float:right;
}
.banner {
	width:1000px;
	height:404px;
	background:url(../images/bnr-bg2.jpg) no-repeat;
	position:relative;
	left:187px;
}
/************************ form ***************************/
#form {
	width:282px;
	height:334px;
	background-color:#e68a17;
	position:absolute;
	right:9px;
	top:12px;
}
#form h2 {
	text-align:center;
	font-size:23px;
	color:#fff;
	font-weight:bold;
	font-family: 'KhmerUIRegular';
	padding:14px 0px 16px 0px;
}
#form input, select {
	color: #868383;
	width: 241px;
	margin:0px 0px 15px 14px;
	height: 34px;
	font-family: Calibri;
	border-top:1px solid #861437 !important;
	font-size: 14px;
	padding:0px 5px;
}
#form select {
	color: #868383;
	width: 251px;
	margin:0px 0px 10px 14px;
	height: 35px;
	font-family: Calibri;
 border-top: !important;
	font-size: 14px;
	padding:5px 5px 4px 3px;
	border:none;
}
#form .button {
	width:149px;
	height:44px;
	border:none !important;
	text-align:center;
	margin:13px 0px 0px 70px;
	font-size:18px;
	padding-top:5px;
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	font-family: 'KhmerUIRegular';
	padding:10px 0px 15px 0px;
	background:url(../images/blue-btn.gif) no-repeat center;
}
/************************ content ***************************/
#main-wrapper {
	width:953px;
	margin:0 auto;
}
#main-wrapper span img {
	float:left;
	padding-right:10px;
}
#main-wrapper span {
	float:left;
	font-size:16px;
	margin-right:48px;
	font-family: 'LaoUIRegular';
	color:#565657;
	line-height:20px;
	padding:27px 0px 0px 0px;
}
#main-wrapper span.last {
	margin-right:0px;
}
#footer {
	width:1000px;
	margin:0 auto;
	height:30px;
	text-align:center;
	background-color:#0b7eac;
	font:15px/30px calibri;
	color:#fff;
	margin-top:35px;
}
.ftr-lft {
	float:left;
}
.ftr-lft a {
	color:#ADCCFA;
	padding-left:10px;
	font-size:13px;
}
.ftr-lft a:hover {
	color:#fff;
}
#footer span {
	color:#fff;
	float:right;
}
/************************ content ***************************/
#main-text {
	width:100%;
}
.right-side {
	width:280px;
	float:right;
	margin-top:50px;
}
.left-side {
	width:639px;
	float: left;
	margin-top:50px;
}
.right-side h3 {
	color:#184a95;
	font-family: 'LaoUIBold';
	font-size:28px;
	font-weight:normal;
	margin-bottom:13px;
	background:url(../images/icon/testi.png) no-repeat 208px top;
}
/************************ tabs ***************************/
.tab-box {
	padding-bottom:5px;
}
.tab-box a {
	background-color:#2776a3;
	color:#adccfa;
	font-family:calibri;
	font-size:15px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	text-decoration:none;
	padding: 7px 15px;
}
.tab-box a.activeLink {
	border-bottom: 0;
	color:#fff;
	background:url(../images/tab-bg.gif) repeat-x;
}
.tabcontent {
	border-top: 0;
	padding: 8px 10px;
	font-family:calibri;
	color:#726e6e;
	font-size:13px;
	margin-top:2px;
	background:url(../images/btm-bg.png) no-repeat bottom #eee;
}
.tabcontent p {
	padding:7px 0px;
}
.hide {
	display: none;
}
/************************ fed up js ***************************/

ul {
	margin:0px;
	padding:0px;
}
ul li {
	list-style:none;
	color:#807b7b;
}
ul li b {
	float: left;
	color:#6d6969;
	padding-top:13px;
	font-family: calibri;
	font-size:15px;
	font-style:italic;
}
ul li p {
	floa:left;
	width:320px;
	text-align:left;
	font-family: calibri;
	font-size:15px;
	font-style:italic;
}
