a.medium {COLOR: WHITE; FONT-SIZE: 11pt; FONT-WEIGHT:BOLD; TEXT-DECORATION: none}
a.medium:hover {COLOR: #F7A401; TEXT-DECORATION: none}

a.med {COLOR: #000000; TEXT-DECORATION: none}
a.med:hover {COLOR: BLUE; TEXT-DECORATION: none}

a.me {COLOR: #A98219; FONT-SIZE: 10pt; FONT-WEIGHT:BOLD; TEXT-DECORATION: none}
a.me:hover {COLOR: #F7A401; TEXT-DECORATION: none}

a.mem {COLOR: blue; FONT-SIZE: 10pt; FONT-WEIGHT:BOLD; TEXT-DECORATION: none}
a.mem:hover {COLOR: #F7A401; TEXT-DECORATION: none}

a.mt {COLOR: black; TEXT-DECORATION: none; font-family:"System"; font-weight:bold}
a.mt:hover {COLOR: #725708; TEXT-DECORATION: none}


#ft {color:#000000; Font-Size:10pt; Font-Face:"Palatino Linotype"}
#ft1 {color:#000000; Font-Size:12pt; Font-weight:bold; Font-Face:"Palatino Linotype"}
#ft5 {color:#725708; background:#FFFBB4; Font-Size:10pt; Font-Face:"Palatino Linotype"}

BODY {SCROLLBAR-FACE-COLOR: #D1B669; SCROLLBAR-HIGHLIGHT-COLOR: #A98219; SCROLLBAR-SHADOW-COLOR: #A98219; SCROLLBAR-3DLIGHT-COLOR: #A98219; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #A98219;}


