@charset "utf-8";
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote {margin:0;padding:0;}
fieldset, img, abbr {border:0;}
address, caption, cite, code, dfn, h1, h2, h3, h4, h5, h6, th, var {font-style:normal;font-weight:400;}
caption, th {text-align:left;}
<!--
body { background-image:url(http://localhost:8080/www.sanmacs.com/MCA/mca_images/bg.gif) }
-->
a:focus {outline:none;}
a {color:#666;text-decoration:none;}
a:hover {color:#0e8dcf;text-decoration:underline;}
/*-----------------------------------------header----------------------------------*/
#header {height:120px;clear:both;background:url(https://d2y26090gpnl7b.cloudfront.net/images/header.jpg) no-repeat scroll 0 27px transparent;}
.head_top_strip {background:url(https://d2y26090gpnl7b.cloudfront.net/images/topstrip_repeat.jpg) repeat-x scroll 0 0 transparent;}
#shoppin_cart {border-left:0 dotted #EFEFEF;float:right;height:29px;min-width:250px;}
#cart_left {background:url("https://d2y26090gpnl7b.cloudfront.net/images/cart_bg_left.png") no-repeat scroll 0 0 transparent;float:left;height:29px;text-align:right;width:30px;}
#cart_mid {background:url("https://d2y26090gpnl7b.cloudfront.net/images/cart_bg_center.jpg") repeat-x scroll 0 0 transparent;float:left;height:29px;min-width:190px;padding-top:4px;text-align:left;width:auto;}
.shopping_cart_button {background:transparent url(https://d2y26090gpnl7b.cloudfront.net/images/checkout.gif) no-repeat scroll left top;border-bottom:0 hidden #FFF;border-top:0 outset #CCC;color:#666;cursor:pointer;font-weight:700;height:19px;width:73px;float:right;border-width:0;}
#cart_right {background:url("https://d2y26090gpnl7b.cloudfront.net/images/cart_bg_right.jpg") no-repeat scroll 0 0 transparent;float:left;height:29px;text-align:right;width:15px;}
.my-account {margin-left:11px;margin-top:-49px;width:107px;height:30px;background-image:url(https://d2y26090gpnl7b.cloudfront.net/images/my-account-arrow-hover.png);}
.my-account-arrow {height:30px;width:107px;margin-top:-22px;margin-left:0;cursor:pointer;float:right;background:url(https://d2y26090gpnl7b.cloudfront.net/images/my-account-arrow.png) no-repeat 82px 0;}
.my_acc_menu_dropli {width:108px !important;height:15px;padding-top:8px;}
.logo {background:url(https://d2y26090gpnl7b.cloudfront.net/images/logo.gif) no-repeat left top;background-position:left top;background-repeat:no-repeat;overflow:hidden;text-indent:-999px;float:left;height:65px;width:210px;margin-top:13px;margin-left:20px;display:inline;}
#prefs {display:inline;float:right;height:75px;padding-top:10px;width:657px;}
#prefs label {color:#e29003;font-weight:700;margin-bottom:0;padding-top:2px;display:block;}
#session {display:inline;float:right;height:22px;line-height:1.7em;padding-right:10px;padding-top:0;text-align:left;width:240px;}
#welcome_user {color:#1C5796;font-family:"Trebuchet MS";float:left;font-size:11px;font-weight:400;margin-left:auto;margin-right:auto;padding-bottom:0;padding-top:0;text-align:left;}
#session #session_links {float:right;padding-right:0px;padding-top:0;text-align:right;}
#session #session_links a {color:#1C5796;font-family:"Trebuchet MS";font-size:12px;font-weight:400;text-decoration:none;}
#session #session_links a:hover {color:#1C5796;text-decoration:underline;}
#search_wrapper {background:none repeat scroll 0 0 rgba(0, 0, 0, 0.05) !important;background-color: #f2f2f2;border:medium none;border-radius:6px 6px 6px 6px;float:right;height:22px;width:350px;margin-right:8px;padding:6px;}
#search #search_left {background-image:url(https://d2y26090gpnl7b.cloudfront.net/images/search-left.png);background-repeat:no-repeat;background-position:left top;float:left;height:23px;width:4px;}
#search #search_center {background:none repeat scroll 0 0 #FFF;border:medium none;border-radius:3px 3px 3px 3px;float:left;height:22px;overflow:hidden;width:250px;margin:0;padding:0 5px;}
#search_center #searchproducts {width:132px;margin-left:3px;margin-top:4px;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:700;color:#999;height:18px;float:left;}
#search_center #searchimg {float:right;height:21px;width:22px;margin-top:3px;}
#search #search_right {background-image:url(https://d2y26090gpnl7b.cloudfront.net/images/search-right.png);background-repeat:no-repeat;background-position:right top;float:left;height:22px;width:4px;}
.sinput {background:none repeat scroll 0 0 transparent;border:0 none;font-family:arial;font-size:12px;outline:0 none;width:100%;color:#888;margin:0;padding:4px 0;}
/*-----------------------------------------end header----------------------------------*/

/*-----------------------------------------menu----------------------------------*/
#navbar {background-color:#CD2518;color:#E3CFCF;height:33px;width:980px;position:relative;float:left;z-index:200;}
/*-----------------------------------------end menu----------------------------------*/

/*-----------------------------------------content----------------------------------*/
.ud:hover {text-decoration:none;}
p {padding-bottom:5px;padding-left:0;}
.clear {clear:both;overflow:hidden;height:1px;margin:0;padding:0;}
h1 {
  border-bottom: 2px dotted #F0EEEE;
    color: #D14562;
    font-family: Trebuchet MS,Georgia,Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 8px;
    padding: 8px 0;
}
h2{color: #0000000;
font: normal 17px Georgia, Arial, Helvetica, sans-serif;
margin-bottom:12px;
padding:6px;
background: url(https://d2y26090gpnl7b.cloudfront.net/images/h2bg.jpg) repeat-x;

letter-spacing:1px;
font-family:Arial,Helvetica,sans-serif;
font-size:15px;
font-weight:600;}

div.hr {
    margin:0;
    padding:0;
    height:1px; 
    background-color:#c5c5c5; 
    display: block;
    font-size: 1px;
    width:100%;
    clear:both;
	margin-bottom:7px;
    }
	
#help-container h1 {
    color: #666666;
    font-size: 20px;
    font-weight: bold;
	line-height: 26px;
    margin: 0;
    padding-bottom: 6px;
	border-bottom: none;
}	


#help-container h3 {
    border-bottom: medium none;
    font-size: 14px;
    font-weight: bold;
    line-height: 12px;
    margin: 0;
    padding-bottom: 0;
}	
h3{font: bold 13px "Trebuchet MS", Arial, Helvetica, sans-serif;margin:0 0 7px 0;padding:10px 0 6px 0;color: #e29003;border-bottom:1px solid #f0eeee;}
h4 {-x-system-font:none;
border-bottom:2px dotted #F0EEEE;
color:#D14562;
font-family:Trebuchet MS,Georgia,Arial,Helvetica,sans-serif;
font-size:19px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:0 0 8px;
padding:10px 0 4px;}
.ars {list-style-type:none;margin:0;padding:0 0 5px 4px;}
.ars li {background:url(https://d2y26090gpnl7b.cloudfront.net/images/bullet.gif) no-repeat left 11px;padding:4px 0 4px 10px;}
#rsidebar {width:1px;float:left;padding-left:0;}
#lsidebar, #rsidebar, #cart_rsidebar {height:auto !important;}
.dropdown {font:12px Arial, Helvetica, sans-serif;width:115px;padding:1px;}
#nav {width:530px;float:left;}
#nav a {font-weight:700;color:#e3cfcf;}
#nav a:hover {color:#fff;text-decoration:none;}
#mainmenu-nav {list-style:none;list-style-type:none;padding:0 0 8px 4px;}
.li-nav a {background:url(https://d2y26090gpnl7b.cloudfront.net/images/bullet.gif) no-repeat left 11px;display:block;width:155px;border-bottom:1px solid #f0eeee;padding:4px 0 4px 8px;}
.li-nav a:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/bullet.gif) no-repeat left 11px;}
.count {font:normal 11px Arial, Helvetica, sans-serif;letter-spacing:-0.5px;color:grey;}
.ul-nav, .li-nav {display:block;list-style:none;}
.ul-nav {width:132px;background:#fff;padding:0 0 0 10px;}
.li-nav .ul-nav {display:none;position:absolute;margin-left:132px;margin-top:-28px;border:1px dotted #e2d3b8;z-index:99;}
a.hassubmenu {background:url(https://d2y26090gpnl7b.cloudfront.net/images/hassubmenu.gif) no-repeat left 11px;}
.latest {width:728px;height:auto;border:1px solid #E0E0E0;min-height:100px;float:left;margin:0 auto;}
div.latestProds {text-align:center;width:210px;height:auto;float:left;position:relative;margin:0 9px 18px;padding:5px;}
div.latestProds:hover {background:#FFFFF0;}
.pr {display:block;color:#BB257E;}
.remo_brand {text-decoration:none;font-size:12px;font-weight:700;color:#D14562;}
#bread_crumb a {text-decoration:none;font-size:12px;font-weight:700;color:#001389;}
#qm0 .menu_home a {color:#FFF;font-family:Arial;font-size:12px;text-decoration:none;text-align:left;width:10px;padding:5px 20px 5px 12px;}
#qm0 .menu_home a:hover {text-decoration:none;color:#FFF;}
.categ_product_layout {width:782px;height:auto;min-height:100px;float:left;position:relative;margin:5px 0 0 5px;}
div.categProds {text-align:center;margin-right:10px;width:182px;padding-top:10px;height:280px;float:left;position:relative;border-right:1px solid #efefef;}
div.promo_categProds {text-align:center;width:355px;margin-left:3px;margin-right:3px;min-height:190px;height:auto;float:left;position:relative;border:1px solid #E0E0E0;background:#EFEFEF none repeat scroll 0 0;padding:5px 3px;}
#categ_list_main {width:155px;background-color:transparent;border:none;float:left;}
#categ_list_main a {color:#666;font-family:Trebuchet MS, Arial;font-size:11px;font-weight:700;letter-spacing:0;text-align:left;text-decoration:none;width:155px;}
#categ_list_main a:hover {color:#D14562;text-decoration:none;}
#categ_list_main .li_box {font-family:"Trebuchet MS";font-size:12px;font-weight:700;height:auto;width:174px;float:left;padding:0;}
#categ_list_main .li_box a:link {color:#3FAFE3;text-decoration:none;display:block;width:167px;padding:2px 0 0 10px;}
#categ_list_main .li_box a:visited {color:#3FAFE3;text-decoration:none;padding:2px 0 0 10px;}
#categ_list_main .li_box a:hover {color:#0e8dcf;text-decoration:underline;padding:2px 0 0 10px;}
#categ_list_main .li_box a:active {color:#0e8dcf;text-decoration:none;padding:2px 0 0 10px;}
#categ_list_main .li_box .categ_list_main .li_box a:link {color:#666;text-decoration:none;display:block;width:164px;padding:5px 0 0 10px;}
#categ_list_main .li_box .categ_list_main .li_box a:hover {color:#0e8dcf;text-decoration:underline;padding:5px 0 0 10px;}
#categ_list_main .li_box ul {float:left;margin:0;padding:0;}
#categ_list_main .li_box ul .li_box {font-family:Arial, Trebuchet MS;font-size:11px;font-weight:700;height:auto;width:154px;}
#categ_list_main .selected_cat {color:#0e8dcf;}
#categ_list_main .adv_search_li {padding:3px 3px 3px 4px;}
#categ_list_main .qmparent:hover {background-color:#B0B0B0;}
body #categ_list_main .qmactive, body #categ_list_main .qmactive:hover {background-color:#B0B0B0;text-decoration:underline;}
#categ_list_main div, #categ_list_main ul {float:left;margin:0;padding:4px 5px;}
#categ_list_main div a, #categ_list_main ul a {background-color:transparent;color:#333;font-size:12px;height:19px;}
#categ_list_main ul li a {text-decoration:none;font-weight:400;color:#666;display:block;padding-bottom:2px;}
#categ_list_main ul li a:hover {text-decoration:none;font-weight:400;color:#D14562;}
#categ_list_main div .qmparent:hover {background-color:transparent;}
body #categ_list_main div .qmactive, body #categ_list_main div .qmactive:hover {background-color:#D6D6D6;text-decoration:none;border-color:#858585;border-style:solid;}
#categ_list_main .qmtitle {cursor:default;color:#333;font-family:arial;font-size:11px;font-weight:700;padding:3px 0 3px 4px;}
#categ_list_main .qmdividerx {border-top-width:1px;border-color:#BFBFBF;margin:4px 0;}
#prod_link_only {float:right;width:185px;padding-top:10px;}
#prod_link_only li {padding-top:2px;padding-bottom:2px;margin-left:20px;}
#prod_link_only li a {color:#666;text-decoration:underline;font-size:12px;}
#prod_link_only li a:hover {color:#D14562;text-decoration:underline;font-size:12px;}
.best_sell {padding-top:10px;}
.best_sell_link, .best_sell_link:hover {color:#F27C00;text-decoration:underline;font-size:12px;}
.submit_spl {cursor:pointer;border:outset 1px #ccc;color:#666;background:url(https://d2y26090gpnl7b.cloudfront.net/images/buttonbg_spl.gif) repeat-x left top;font-size:15px;font-weight:700;height:24px;padding:1px 4px;}
.submit_spl:hover {cursor:pointer;border:outset 1px #ccc;color:#666;background:url(https://d2y26090gpnl7b.cloudfront.net/images/buttonbg_hover_spl.gif) repeat-x left top;font-size:15px;font-weight:700;height:24px;padding:1px 4px;}
.image {text-align:center;border:1px solid #f0eeee;background:#fff;margin:2px 3px 3px 0;padding:2px 2px 2px 0;}
.image:hover {border:1px solid #CFCBCB;}
a.txtLink {color:#3fafe3;padding:0 4px;}
a.txtLink:hover {color:#3fafe3;text-decoration:underline;}
a.flashBasket:active, a.flashBasket:link, a.flashBasket:visited, a.flashBasket:hover {font-weight:700;background:#e29003;border:1px solid #bc7a09;color:#fff;padding:1px 4px;}
.octroi_tax {font-size:10px;font-family:Arial, Helvetica, sans-serif;color:red;line-height:10px;}
.octroi_tax a, .octroi_tax a:hover {color:red;}
.qmmc .qmdivider {display:block;font-size:1px;position:relative;z-index:1;border-style:solid;border-width:0;}
.qmmc .qmdividery {float:left;width:0;}
.qmmc .qmtitle {display:block;cursor:default;white-space:nowrap;position:relative;z-index:1;}
.qmclear {font-size:1px;height:0;width:0;clear:left;line-height:0;display:block;float:none !important;}
.qmmc {position:relative;zoom:1px;z-index:10;}
.qmmc a, .qmmc li {float:left;display:block;white-space:nowrap;position:relative;z-index:1;}
.qmmc div {visibility:hidden;position:absolute;}
.qmmc .qmcbox {cursor:default;display:inline-block;position:relative;z-index:1;}
.qmmc .qmcbox a {display:inline;}
.qmmc .qmcbox div {float:none;position:static;visibility:inherit;left:auto;}
.qmmc li {z-index:auto;}
.qmmc ul {left:-10000px;position:absolute;z-index:10;}
.qmmc li:hover>ul {left:auto;}
#qm0 ul {top:100%;}
#qm0 a {color:#FFF;font-family:Arial, Trebuchet MS;font-size:12px;font-weight:700;text-decoration:none;text-align:left;letter-spacing:0;height:18px;padding:9px 18px 5px 8px;}
#qm0 a:hover {text-decoration:underline;color:#000;}
body #qm0 .qmactive, body #qm0 .qmactive:hover {background:#A11F07 repeat-x;background-position:-5px -2px;text-decoration:none;color:#fff;border-color:#B3C2B9;}
#qm0 div, #qm0 ul {margin:-2px 0 0;padding:4px;}
#qm0 div a, #qm0 ul a {background-color:transparent;font-size:11px;color:#000;min-width:100px;border-style:none;border-width:0;margin:0 0 2px;padding:2px 40px 2px 5px;}
body #qm0 div .qmactive, body #qm0 div .qmactive:hover {color:#393A3A;height:18px;background-color:#DFE0E0;}
#qm0 .qmtitle {font-size:11px;}
#qm0 .qmdividerx {border-top-width:1px;border-color:#393A3A;border-style:dashed;margin:5px;}
#qm0 .qmdividery {background:transparent url(https://d2y26090gpnl7b.cloudfront.net/images/menu_divider.gif) no-repeat scroll 0 5px;height:33px;overflow:hidden;width:1px;padding:0;}
ul#qm0 ul {background-color:#DFE0E0;border-color:#4F5050;border-style:solid;border-width:1px;}
ul#qm0 li:hover > a {background-color:#DFE0E0;}
ul#qm0 .qmparent {background-image:url(https://d2y26090gpnl7b.cloudfront.net/images/arrow_7.gif);background-repeat:no-repeat;background-position:95% 55%;}
ul#qm0 ul .qmparent {background-image:url(https://d2y26090gpnl7b.cloudfront.net/images/arrow_5.gif);}
#qm0 {width:752px;padding-top:0;}
.selectOpt {background-color:#CCE6FF !important;border:1px solid #999 !important;color:#D14562 !important;cursor:pointer;float:left;font-family:"Lucida Grande", Verdana, Arial, Sans-serif;font-size:11px;margin-right:4px;text-align:center;text-decoration:none;vertical-align:middle;width:auto;min-width:15px;line-height:15px;padding:5px;}
.selectOpt:hover {background-color:#CCE6FF;color:#666;border:1px solid #999;cursor:pointer;float:left;font-family:"Lucida Grande", Verdana, Arial, Sans-serif;margin-right:4px;text-align:center;text-decoration:none;vertical-align:middle;padding:5px;}
.deselectOpt {border:1px solid #999;cursor:pointer;float:left;font-family:"Lucida Grande", Verdana, Arial, Sans-serif;font-size:11px;margin-right:4px;text-align:center;text-decoration:none;vertical-align:middle;width:auto;min-width:15px;padding:5px;}
.activeopt {background-color:#fff;border:1px solid #e3e3e3;margin-top:2px;color:#666;cursor:pointer;float:left;font-family:"Lucida Grande", Verdana, Arial, Sans-serif;font-size:11px;margin-right:4px;text-align:center;text-decoration:none;vertical-align:middle;width:auto;min-width:15px;line-height:15px;padding:5px;}
.activeopt:hover {background-color:#FFF;border:1px solid #999;color:#666;cursor:pointer;float:left;font-family:"Lucida Grande", Verdana, Arial, Sans-serif;margin-right:4px;text-align:center;text-decoration:none;vertical-align:middle;padding:5px;}
.inactiveopt {margin-top:2px;border:1px dotted #999;color:#BBB;cursor:default;float:left;font-family:"Lucida Grande", Verdana, Arial, Sans-serif;font-size:11px;margin-right:4px;text-align:center;text-decoration:none;vertical-align:middle;width:auto;min-width:15px;line-height:15px;padding:5px;}
.inactiveopt:hover {border:1px dotted #999;color:#BBB;cursor:default;float:left;font-family:"Lucida Grande", Verdana, Arial, Sans-serif;margin-right:4px;text-align:center;text-decoration:none;vertical-align:middle;padding:5px;}
#pagination-digg li {border:0;font-size:11px;display:inline;list-style:none;margin:0;padding:0;}
#pagination-digg a {border:solid 1px #9aafe5;margin-right:2px;}
#pagination-digg .previous-off, #pagination-digg .next-off {border:solid 1px #DEDEDE;color:#888;display:block;float:left;font-weight:700;margin-right:2px;padding:0 2px;}
#pagination-digg .next a, #pagination-digg .previous a {font-weight:700;}
#pagination-digg .active {background:#2e6ab1;color:#FFF;font-weight:700;display:inline;float:left;margin-right:2px;padding:1px 2px;}
#pagination-digg a:link, #pagination-digg a:visited {color:#0e509e;display:inline;float:left;text-decoration:none;padding:0 2px;}
#pagination-digg a:hover {border:solid 1px #0e509e;}
.left-navigation {float:left;width:180px;padding-bottom:5px;margin-bottom:10px;}
.left-navigation .category {float:left;padding-top:10px;}
.left-navigation .category .heading1 {background:none repeat scroll 0 0 transparent;border-bottom:1px dotted #EEE;color:#D14562;cursor:default;float:left;font-size:14px;font-weight:700;padding-bottom:3px;padding-left:10px;text-decoration:none;width:167px;}
.left-navigation .category .heading2 {float:left;width:175px;}
.left-navigation .category h3 {background:none repeat scroll 0 0 transparent;border-bottom:1px dotted #EEE;color:#D14562;cursor:default;float:left;font-size:14px;font-weight:700;padding-bottom:3px;padding-left:10px;text-decoration:none;width:162px;}
.left-navigation .category .heading2 ul li {list-style:none;border-bottom:#CCC dotted 1px;}
.left-navigation .category .heading2 ul li a:link {color:#0e8dcf;text-decoration:none;display:block;width:165px;height:22px;padding:5px 0 0 10px;}
.left-navigation .category .heading2 ul li a:hover {color:#0e8dcf;background:#f7f7f7;text-decoration:underline;padding:5px 0 0 10px;}
.left-navigation .category .filter {float:left;width:177px;font-size:12px;}
.left-navigation .category .filter ul li a:link {color:#666;text-decoration:none;display:block;width:145px;height:18px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/radio-bg.png) no-repeat 10px 7px;padding:5px 0 0 30px;}
.left-navigation .category .filter ul li a:visited {color:#666;text-decoration:none;font-weight:700;display:block;width:145px;height:18px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/radio-bg.png) no-repeat 10px 7px;padding:5px 0 0 30px;}
.left-navigation .category .filter ul li a:hover {color:#0e8dcf;text-decoration:underline;display:block;width:145px;height:18px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/radio-bg-active.png) no-repeat 10px 7px #f7f7f7;padding:5px 0 0 30px;}
.left-navigation .category .filter ul li a:active {color:#0e8dcf;text-decoration:none;display:block;width:145px;height:18px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/radio-bg-active.png) no-repeat 10px 7px #f7f7f7;padding:5px 0 0 30px;}
.left-navigation .category .filter ul li.current a {color:#0e8dcf;text-decoration:none;font-weight:700;display:block;width:145px;height:18px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/radio-bg-active.png) no-repeat 10px 7px #f7f7f7;padding:5px 0 0 30px;}
.left-navigation .category .filter-brands {float:left;width:177px;font-size:12px;height:187px;overflow:scroll;overflow-x:hidden;}
.left-navigation .category .filter-brands ul li a:link {color:#666;text-decoration:none;display:block;width:125px;height:18px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/checkbox.png) no-repeat 10px 7px;padding:5px 0 0 35px;}
.left-navigation .category .filter-brands ul li a:visited {color:#666;text-decoration:none;font-weight:700;display:block;width:125px;height:18px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/checkbox.png) no-repeat 10px 7px;padding:5px 0 0 35px;}
.left-navigation .category .filter-brands ul li a:hover {color:#0e8dcf;text-decoration:underline;display:block;width:125px;height:18px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/checkbox-active.png) no-repeat 10px 7px #f7f7f7;padding:5px 0 0 35px;}
.left-navigation .category .filter-brands ul li a:active {color:#0e8dcf;text-decoration:none;display:block;width:125px;height:18px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/checkbox-active.png) no-repeat 10px 7px #f7f7f7;padding:5px 0 0 35px;}
.left-navigation .category .filter-brands ul li.current a {color:#0e8dcf;text-decoration:none;font-weight:700;display:block;width:125px;height:18px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/checkbox-active.png) no-repeat 10px 7px #f7f7f7;padding:5px 0 0 35px;}
.left-navigation .category .links {float:left;width:175px;font-size:11px;}
.left-navigation .category .links ul li a:link {color:#0e8dcf;text-decoration:none;display:block;width:145px;height:18px;padding:5px 0 0 10px;}
.left-navigation .category .links ul li a:hover {color:#0e8dcf;text-decoration:underline;display:block;width:145px;height:18px;padding:5px 0 0 10px;}
.left-navigation .category ul.sale_items li a:hover {color:#0e8dcf;text-decoration:underline;display:block;}
.brand li {list-style:none;display:inline-block;line-height:0;float:left;margin:0;padding:0;}
.brand .link1 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif);display:block;width:85px;height:50px;}
.brand .link1:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif);display:block;width:85px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.brand .link2 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 900px 0;display:block;width:78px;height:50px;}
.brand .link2:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 900px 0;display:block;width:78px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.brand .link3 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 822px 0;display:block;width:88px;height:50px;}
.brand .link3:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 822px 0;display:block;width:88px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.brand .link4 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 732px 0;display:block;width:85px;height:50px;}
.brand .link4:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 732px 0;display:block;width:85px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.brand .link5 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 649px 0;display:block;width:89px;height:50px;}
.link5:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 649px 0;display:block;width:89px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.brand .link6 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 561px 0;display:block;width:49px;height:50px;}
.brand .link6:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 561px 0;display:block;width:49px;height:50px;filter:alpha(opacity=70);-khtml-opacity:0.7px;-moz-opacity:0.7px;opacity:0.7px;}
.brand .link7 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 513px 0;display:block;width:77px;height:50px;}
.brand .link7:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 513px 0;display:block;width:77px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.brand .link8 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 436px 0;display:block;width:80px;height:50px;}
.brand .link8:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 436px 0;display:block;width:80px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.brand .link9 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 357px 0;display:block;width:106px;height:50px;}
.brand .link9:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 357px 0;display:block;width:106px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.brand .link10 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 251px 0;display:block;width:85px;height:50px;}
.brand .link10:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 251px 0;display:block;width:85px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.brand .link11 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 163px 0;display:block;width:126px;height:50px;}
.brand .link11:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 163px 0;display:block;width:126px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.brand .link12 {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 32px 0;display:block;width:32px;height:50px;}
.brand .link12:hover {background:url(https://d2y26090gpnl7b.cloudfront.net/images/brand-logo.gif) 32px 0;display:block;width:32px;height:50px;filter:alpha(opacity=50);-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.bubbleInfo {position:relative;}
.trigger {color:#666;font-size:11px;font-weight:700;padding-left:3px;padding-top:2px;position:absolute;width:70px;}
#wrapper {width:980px;height:auto;margin:0 auto 5px;}
#content {width:980px;}
a.cright {color:#0c1f2d;text-decoration:none;cursor:text;}
#secure_img {background:url(https://d2y26090gpnl7b.cloudfront.net/images/verified.jpg) no-repeat scroll 0 0 transparent;float:left;width:150px;height:50px;}
#txtCopyright {width:950px;margin:0 auto 2px;}
ul, .left-navigation .category .filter ul li, .left-navigation .category .filter-brands ul li, .left-navigation .category .links ul li, .left-navigation .category ul .sale_items li {list-style:none;}
.ud, .remo_brand:hover, #bread_crumb a:hover, #categ_list_main div a:hover, #qm0 li:hover>a, .trigger:hover {text-decoration:underline;}
.ars li a, .ars li a:hover {color:#D14562;text-decoration:underline;}
.li-nav, .qmsh div a {float:left;}
#categ_list_main .li_box .categ_list_main .li_box a:visited, #categ_list_main .li_box .categ_list_main .li_box a:active {color:#666;text-decoration:none;font-weight:700;padding:5px 0 0 10px;}
.submit, .submit:hover, .submit1, .submit1:hover, .txtButton, .txtCheckout, .txtUpdate, .txtButton:hover, a.txtCheckout:hover, a.txtUpdate:hover {    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px 10px 6px;
	 background-color: #BA2412;
    color: #fff;
	font-weight:bold;
	font-family:Trebuchet MS;
	border:none;
	text-decoration:none;}
.qmmc div a, .qmmc ul a, .qmmc ul li, .qmmc li a, #qm1 li, #qm1 a, #qm2 li, #qm2 a {float:none;}
.qmmc, .qmmc ul, .brand ul {list-style:none;margin:0;padding:0;}
#qm0 ul li:hover>ul, #qm1 li:hover>ul, #qm2 li:hover>ul {top:0;left:100%;}
#qm0 li ul li ul .qmdividery, #qm0 ul li .qmdividery {display:none;}
.prod_link_arrow, .prod_link_arrow:hover {font-size:11px;font-weight:700;}
.left-navigation .category .heading2 h3, .left-navigation .category .filter h3, .left-navigation .category .filter-brands h3, .left-navigation .category .links h3 {color:#666;margin:0;padding:0;}
.left-navigation .category .heading2 ul li a:visited, .left-navigation .category .heading2 ul li a:active {color:#0e8dcf;text-decoration:none;font-weight:700;padding:5px 0 0 10px;}
.left-navigation .category .links ul li a:visited, .left-navigation .category .links ul li.current a {color:#0e8dcf;text-decoration:none;font-weight:700;display:block;width:145px;height:18px;padding:5px 0 0 10px;}
.left-navigation .category ul.sale_items li a:link, .left-navigation .category ul.sale_items li a:visited {color:#0e8dcf;text-decoration:none;}
#cat_carousel_cattitle {color: #999999;	font-size: 11px;margin-bottom: 0px;padding-left: 5px;text-align: left;width: 160px;}
#home_prod_name {color: #666666;font-family: "Trebuchet MS";font-size: 12px;font-weight: bold;min-height: 40px;	padding-bottom: 4px;padding-left: 5px;text-align: left;margin-top:-4px;}
#home_prod_name a {}
#promo_home_prod_name {color:#666666;font-family:"Trebuchet MS";font-size:13px;font-weight:normal;text-align:left;padding-left:5px;width: 180px;float:left;padding-top:8px;	font-weight:bold;}
#price {float:left;width:160px;min-height:30px;}
.txtOldPrice {font-family:"Trebuchet MS";font-size:12px;font-weight:normal;text-decoration:line-through;padding-left:7px;float:left;}
.txtSale {color:#666666;font-family:"Trebuchet MS";font-size:12px;font-weight:bold;padding-left:7px;float:left;text-align:left;}
/*-----------------------------------------end content----------------------------------*/

/*-----------------------------------------footer----------------------------------*/
#footer {text-align:center;clear:both;margin:0 auto;padding:0 0 5px;}
.footer-small {width:980px;height:70px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/small-footer-bg.png);border:1px solid #E5E5E5;border-radius:6px;float:left;margin:5px auto 0;}
.footer-small-heading {color:#ef7f00;font-size:12px;display:block;clear:both;margin-bottom:5px;text-align:left;}
.payment-methods {float:left;margin:5px;}
.follow-us {float:left;margin:5px 0;}
#footer_content {background-repeat:repeat-x;height:155px;margin-left:auto;margin-right:auto;padding-top:5px;width:950px;}
.footer_content {color:red;border:#E5E5E5 solid 1px;border-radius:6px;background:url(https://d2y26090gpnl7b.cloudfront.net/images/bg-footer.gif) repeat-x;background-color:#FFF;}
/*-----------------------------------------end footer----------------------------------*/


/*----------------------------------------- Start - jCarouselLite -----------------------------------------*/ 
.carousel a.prev, .carousel a.next {background: url(https://d2y26090gpnl7b.cloudfront.net/images/left-arrow-home-page.png);display: block;float: left;height: 52px;text-decoration: none;width: 23px;}
.carousel a.next {background: url(https://d2y26090gpnl7b.cloudfront.net/images/right-arrow-home-page.png);}
.carousel a.prev1, .carousel a.next1 {background: url(https://d2y26090gpnl7b.cloudfront.net/images/left-arrow-home-page.png);display: block;float: left;height: 52px;text-decoration: none;width: 23px;}
.carousel a.next1 {background: url(https://d2y26090gpnl7b.cloudfront.net/images/right-arrow-home-page.png);}
#jCarouselLiteDemo .carousel a.next:hover {background-image: url(https://d2y26090gpnl7b.cloudfront.net/images/imageNavRight.gif);}
#jCarouselLiteDemo .carousel a.next1:hover {background-image: url(https://d2y26090gpnl7b.cloudfront.net/images/imageNavRight.gif);}
#jCarouselLiteDemo .carousel a.prev:hover {background-image: url(https://d2y26090gpnl7b.cloudfront.net/images/imageNavLeft.gif);}
#jCarouselLiteDemo .carousel a.prev1:hover {background-image: url(https://d2y26090gpnl7b.cloudfront.net/images/imageNavLeft.gif);}
#jCarouselLiteDemo .carousel a:hover, #jCarouselLiteDemo .carousel a:active {border: none;outline: none;}
.carousel a.next:hover {background: url(https://d2y26090gpnl7b.cloudfront.net/images/right-arrow-home-page.png);}
.carousel a.next1:hover {background: url(https://d2y26090gpnl7b.cloudfront.net/images/right-arrow-home-page.png;}
.carousel a.prev:hover {background-image: url(https://d2y26090gpnl7b.cloudfront.net/images/right-arrow-home-page.png) repeat-y scroll -512px -11px #FFFFFF;}
.carousel a.prev1:hover {background: url(https://d2y26090gpnl7b.cloudfront.net/images/right-arrow-home-page.png) repeat-y scroll -142px -11px #FFFFFF;}
.carousel a:hover, .carousel a:active {border: none;outline: none;}
/* ----------------------------------------- End - jCarouselLite ----------------------------------------- */