/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #1454B0;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #129FE1;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}

.collapsible:after {
  content: 'Click here for fees details'; /* Unicode character for "plus" sign (+) */
  white-space: pre;
  font-size: 16px;
  color: #fffef4;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "View less"; /* Unicode character for "minus" sign (-) */
  font-size: 16px;
}

.pm-button {
  color: #1454B0;
}

.new-sanmacs-font {
  font-family: Garamond;
}

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}

.faq {
  background-color: #363e61;
  padding: 15px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 17px;
  margin-top: 25px;
  margin-right: 35px;
  margin-left: 35px;
}

.question {
  padding-right: 28%;
  text-align: left;
  margin: 0px;
}

.details {
  font-size: 10px;
}