#tbb {filter: progid:DXImageTransform.Microsoft.shadow(color='#000000', Strength=6); width:466px}
#tbb1 {filter: progid:DXImageTransform.Microsoft.shadow(color='#000000', Strength=3); width:10px}

#ftp7b {font-family: Arial, Helvetica, sans-serif; font-size: 28px; margin-top:5px; font-weight:bold; color:red; letter-spacing:1px; word-spacing:2px; filter: progid:DXImageTransform.Microsoft.glow(color='#FFFFFF',strength=2); width:590px}

#tp {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color:#0D5992; letter-spacing:1px; word-spacing:2px;}

a.lt {color:#D53F01; TEXT-DECORATION: none; font-weight:bold}
a.lt:hover {COLOR: #4848FB; TEXT-DECORATION: none;  font-weight:bold}

a.max {COLOR: WHITE; FONT-SIZE: 11pt; FONT-WEIGHT:BOLD; TEXT-DECORATION: none}
a.max:hover {COLOR: #035094; TEXT-DECORATION: none}

a.max1 {COLOR: black; FONT-SIZE: 11px; FONT-WEIGHT:BOLD; font-family: Arial, Helvetica, sans-serif; letter-spacing:1px; word-spacing:2px; TEXT-DECORATION: none}
a.max1:hover {COLOR: #1A6DAC; TEXT-DECORATION: none}
