BODY {SCROLLBAR-FACE-COLOR: #DCDCB3; SCROLLBAR-HIGHLIGHT-COLOR: #A2A270; SCROLLBAR-SHADOW-COLOR: #A2A270; SCROLLBAR-3DLIGHT-COLOR: #A2A270; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #A2A270;}

#ftp {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color:#000000; letter-spacing:1px; word-spacing:2px;}

a.my3 {color:#4D92BD; TEXT-DECORATION: none; font-size:12px; font-weight:bold}
a.my3:hover {COLOR: #ED6E00; TEXT-DECORATION: none;  font-weight:bold}

a.me {COLOR: #666666; FONT-SIZE: 10pt; FONT-WEIGHT:BOLD; TEXT-DECORATION: none}
a.me:hover {COLOR: #FC7305; TEXT-DECORATION: none}

a.new {color:#FFFFFF; TEXT-DECORATION: none; font-size:14px; font-weight:bold}
a.new:hover {COLOR: #ff9a00; TEXT-DECORATION: none;  font-weight:bold}

a.new1 {color:#FFFFFF; TEXT-DECORATION: none; font-size:12px; font-weight:bold}
a.new1:hover {COLOR: #ff9a00; TEXT-DECORATION: none;  font-weight:bold}
