a.ft1 {COLOR: black; font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; font-weight:bold; TEXT-DECORATION: none; margin-left:8px}

a.ft2 { text-align:justify; COLOR: black; font-family:Verdana, Arial, Helvetica, sans-serif FONT-SIZE: 2px; font-weight:bold; TEXT-DECORATION: none; margin-left:8px}

#ft {font-family: Verdana, Times New Roman, Arial, Helvetica, sans-serif; font-size: 11px; color:#0000000}

a.fth {COLOR: black; font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 15px; font-weight:bold; TEXT-DECORATION: none; margin-left:8px}


a.mca {	color:#000000; FONT-SIZE: 9pt; font-family: :Verdana, Arial, Helvetica, sans-serif; text-align:justify; 
TEXT-DECORATION: none;
}
a.mca:hover {COLOR:#CC0000; TEXT-DECORATION: none}

a.me1 {COLOR: #FFFFFF; font-family:Arial, Helvetica, sans-serif; FONT-SIZE: 10pt;  TEXT-DECORATION: none; text-align:center; }
a.me1:hover {COLOR: #000000; TEXT-DECORATION: none}



a.mprx:hover {COLOR: #4C3A07; TEXT-DECORATION: none}

a.mem2 {COLOR: #C30000; FONT-SIZE: 8pt; Font-weight:bold; TEXT-DECORATION: none}
a.mem2:hover {COLOR: #F7A401; TEXT-DECORATION: none}


#ftp1 {font-family: Arial, Helvetica, sans-serif; font-size: 9px; color:#FFFFFF; word-spacing:1pt; letter-spacing:1pt;}
#ftp2 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000000; word-spacing:1pt; letter-spacing:1pt; font-weight:bold}
#ftp3 {font-family: "Arial, Helvetica, sans-serif"; font-size: 9px; color:#FFFFFF; word-spacing:0pt; letter-spacing:0pt;}
#ftp4 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000000; word-spacing:1pt; letter-spacing:1pt;}
#ftp5 {font-family: "Arial, Helvetica, sans-serif"; font-size: 11px; color:#1A6DAC; word-spacing:1pt; font-weight:bold}

#ftp {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000000; letter-spacing:0px; word-spacing:0px;}

#ftb {font-family: Arial, Helvetica, sans-serif; font-size: 16px; color:#000000; letter-spacing:0px; word-spacing:1px; line-height:1.5;}


#ftpmargin {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color:#000000; margin-left:6px; letter-spacing:1px; word-spacing:2px;}
#ftpw {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color:#FFFFFF; letter-spacing:1px; word-spacing:2px;}
#ftp6 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight:bold; color:white; letter-spacing:1px; word-spacing:2px;}
#ftp7 {font-family: Arial, Helvetica, sans-serif; font-size: 28px; margin-top:5px; font-weight:bold; color:red; letter-spacing:1px; word-spacing:2px; filter: progid:DXImageTransform.Microsoft.glow(color='#FFFFFF',strength=2); width:580px}
#ftpshadow {font-family: Arial, Helvetica, sans-serif; font-size: 22px; margin-top:5px; font-weight:bold; color:red; letter-spacing:1px; word-spacing:2px; filter: progid:DXImageTransform.Microsoft.shadow(color='#000000',strength=2); width:480px}


.so{font-family: Tahoma; font-size: 11px; color: #828B93;}
.so{font-family: Tahoma; font-size: 12px; color: #828B93;}




a.topLinkbsan {color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif bold; font-size:11px; Font-weight:bold;}
a.topLinkbsan:hover {COLOR:#CC0000; TEXT-DECORATION: none}




a.kapil {color:#000000;  FONT-SIZE: 8pt; font-family: Arial, Helvetica, sans-serif; Font-weight:bold; TEXT-DECORATION: none}
a.kapil:hover {COLOR:#CC0000; TEXT-DECORATION: none}

a.my1 {color:#ED6E00; TEXT-DECORATION: none;}
a.my1:hover {COLOR: orange; TEXT-DECORATION: none}

a.my2 {COLOR: blue; FONT-SIZE: 10pt; Font-weight:bold; TEXT-DECORATION: none}
a.my2:hover {COLOR:#F7A401; TEXT-DECORATION: none}

a.my3 {color:#4D92BD; TEXT-DECORATION: none; font-weight:bold}
a.my3:hover {COLOR:#ED6E00; TEXT-DECORATION: none;  font-weight:bold}

a.my4 {color:#4D92BD;FONT-SIZE: 10pt; Font-weight:bold; TEXT-DECORATION: none;}
a.my4:hover {COLOR:#ED6E00;}

a.my5 {color:#4D92BD; FONT-SIZE: 10pt; TEXT-DECORATION: none; font-weight:bold}
a.my5:hover {COLOR:#ED6E00; FONT-SIZE: 11pt; TEXT-DECORATION: none;  font-weight:bold}


a.ft1 {COLOR: #1E4388; font-family: Arial, Helvetica, sans-serif; FONT-SIZE: 16px; font-weight:bold; TEXT-DECORATION: none; margin-left:8px}



a.mca2 {COLOR: #000000; font-family:Arial, Helvetica, sans-serif; FONT-SIZE: 11pt;  TEXT-DECORATION: none; text-align:center; }
a.mca2:hover {COLOR: #CC0000; TEXT-DECORATION: none}


a.sch {COLOR: #000000; font-family:Arial, Helvetica, sans-serif; FONT-SIZE: 15pt;  TEXT-DECORATION: none; text-align:center; }
a.sch:hover {COLOR: #CC0000; TEXT-DECORATION: none}


