/************************ global css ***************************/
* {
	margin: 0;
	padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style-type: none;
}
img, input, textarea, a {
	border: none;
	outline: none;
	text-decoration: none;
}
.clear {
	clear: both;
}
body {
	margin: 0px;
	padding: 0px;
}
body {
	background: url(../images/bg.jpg) no-repeat top center;
}
/************************ wrapper ***************************/
#wrapper {
	width: 1000px;
	margin: 0 auto;
}
#logo {
	float: left;
	margin-top: 21px;
}
.toplinks {
	width: 100%;
	height: 35px;
	background-color: #002157;
}
.call {
	float: right;
	color: #b5cbef;
	font-size: 14px;
	margin-right: 22px;
	line-height: 21px;
	padding-top: 4px;
	font-family: 'DroidSansRegular';
}
.call img {
	float: left;
	margin-right: 5px;
}
/************************ banner css ***************************/
#banner {
	width: 100%;
	margin-top: 19px;
}
#banner img {
	float: left;
}
.block-form {
	float: right;
	width: 434px;
	height: 314px;
	background: url(../images/lline.gif) no-repeat top #f4f5f3;
	padding: 0px 24px 0px 22px;
}
.block-form h2 {
	color: #100d0d;
	font-size: 15px;
	text-align: center;
	margin: 23px 0px 27px;
	font-family: 'OpenSansRegular';
}
.hd {
	float: right;
	font-size: 19px;
	font-family: 'CandaraBold';
	color: #055eaa;
	text-align: center;
	margin-top: -47px;
	margin-right: 14px;
}
.block-form input {
	border: 1px solid #ccc;
	width: 195px;
	height: 25px;
	background-color: #fff;
	font-size: 13px;
	color: #919191;
	padding: 5px 0px 5px 8px;
	margin: 0px 10px 20px 0px;
}
.block-form select {
	border: 1px solid #ccc;
	width: 98%;
	height: 35px;
	background-color: #fff;
	font-size: 13px;
	color: #919191;
	padding: 9px 8px 5px 5px;
}
.block-form input .last {
	margin-right: 0px;
}
.block-form input.button {
	width: 180px;
	height: 48px;
	font-family: 'CandaraBold';
	color: #fff;
	font-size: 22px;
	font-weight: normal;
	border: none;
	margin: 28px 0px 0px 132px;
	text-align: center;
	border-radius: 6px;
	background-color: #016ac1;
	cursor: pointer;
}
/************************ START main content css ***************************/
#main-content {
	width: 948px;
	margin: 0 auto;
}
#main-wraper {
	width: 100%;
	margin: 0 auto;
	height: 1474px;
	background-color: #f0f0f0;
	padding-top: 40px;
	padding-bottom: 50px;
}
#main-content h3 {
	font-size: 23px;
	color: #707172;
	text-transform: uppercase;
	text-align: center;
	font-family: 'OpenSansRegular';
}
#main-content p {
	font-family: 'CandaraRegular';
	width: 100%;
	/*	text-align: center !important;*/
	font-size: 17px;
	color: #313132;
	margin: 14px 0px 0px 0px;
}
.block-lerng {
	width: 100%;
	margin-top: 26px;
}
.block-crcle {
	float: left;
	width: 244px;
	text-align: center;
	margin-top: 34px;
	margin: 34px 39px 0px 39px;
	background-color: #f0f0f0;
}
.block-crcle.last {
	margin-left: 20px;
}
.block-crcle p {
	font-size: 13px !important;
	color: #313132 !important;
	/*padding-top: 15px;*/
	font-family: 'OpenSansRegular' !important;
}
.block-crcle strong {
	font-size: 13px;
	font-family: 'CandaraBold';
	font-weight: normal;
	color: #07830f;
	font-size: 19px;/*float:left;*/
}
.block-crcle img {
	margin-bottom: 10px;
}
#main-text {
	width: 100%;
	margin-top: 50px;
	background-color: #f0f0f0;
}
.left_side {
	float: left;
	width: 463px;
	padding-right: 10px;
	padding-right: 34px;
	border-right: 1px dotted #868383;
}
.left_side ul {
	margin: 0px;
	padding: 0px;
}
.left_side li {
	font-size: 14px;
	color: #868383;
	background: url(../images/bullet.gif) no-repeat left 4px;
	padding-left: 27px;
	margin: 25px 0px;
	font-family: 'OpenSansRegular';
}
.left_side li a {
	color: #1f4b95;
	text-decoration: underline;
}
.rght_side {
	float: right;
	width: 407px;
}
.rght_side p {
	text-align: left !important;
	font-size: 14px !important;
	color: #868585 !important;
	line-height: 22px;
	padding: 12px 0px;
}
/************************ START footer css ***************************/
#footer {
	font-family: 'CandaraRegular';
	width: 950px;
	height: 28px;
	background-color: #1a284f;
	color: #9fb6f6;
	font-size: 13px;
	padding: 10px 25px 0px;/*margin-top: 40px;*/
}
.ftr-lft {
	float: left;
	width: 323px;
}
.ftr-lft a {
	padding: 0px 8px;
	color: #fff;
}
.ftr-rght {
	float: right;
	width: 72px;
	color: #fff;
	line-height: 20px;
}
.ftr-rght img {
	float: right;
}
/************************ START result css ***************************/
.block-result {
	float: left;
	width: 100%;
	margin: 30px 0px 50px;
}
.block-grn {
	float: left;
	width: 218px;
	padding-bottom:12px;
	background-color: #86bd89;
	color: #fff;
	font-size: 16px;
	font-family: 'CandaraRegular';
	margin-right: 16px;
		text-align: center;
	border-radius:12px 0px 12px 0px;
}
.block-grn-ttle {
	float: left;
	width: 100%;
	height: 44px;
	padding-top: 7px;
	text-align: lefr;
	background-color: #458148;
	font-size: 15px;
	font-family: 'DroidSansRegular';
	border-radius:12px 0px 0px 0px;
}
.block-grn.block-blue {
	background-color: #3f80f0;
}
.block-grn-ttle.block-blue-ttle {
	background-color: #2152a6;
}
.block-grn.block-org {
	background-color: #efb858;
}
.block-grn-ttle.block-org-ttle {
	background-color: #c78c24;
}
.block-grn.block-red {
	background-color: #f68b8b;
}
.block-grn-ttle.block-red-ttle {
	background-color: #ef1919;
}
.anchor{
	float:right;
	padding-top:15px;
	font-size:13px;
	color:#626060;
	  font-family: 'DroidSansRegular';}